<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Construindo com ejs</title>
    <!-- Vamos usar o bootstrap, onde temos templates de CSS pré prontos para usarmos -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>

        body {
            padding-top: 50px;
        }

    </style>
</head>