@charset "UTF-8";

body{
    background-color: aquamarine;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(7, 163, 20);
    background-color: blue;
}

h2{
    color: red;
}

p{
    text-align: justify;
}


/*
Todas as páginas que usam o mesmo link de CSS elas vão ter o mesmo estilo de CSS -->
<!-- O link fica embaixo do title, use o CRTL + Click e o CRTL + Space -->
<!-- Eu posso colocar um estilo interno em cada página, por exemplo de texto sublinhado, ele ficará só naquela página, mesmo que todas estejam linkadas a uma só página de CSS -->

<!-- All pages that use the same link of CSS, they will be the same style of CSS. Put the link below tag Title, use CRTL + Click and CRTL + Space -->
<!-- I can put a internal style for each page, for example of underlined text, even if all pages be linked as a one page of CSS 
*/
