@charset "UTF-8";

/*
Tudo que em HTML é ID, em CSS é # . E ID Podemos  ter só um
Tudo que em HTML é Class, em CSS é . E Class podemos ter vários
*/

body{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

h1#principal{ /* Ou posso tirar o "H1" e identificar apenas como "#principal" */
    text-align: center;
    background-color: white;
}

h1{
    color: green;
}

h2{
    color: rgb(82, 136, 65);
}

.basico{
    color: brown;
    font-weight: 500;
}

.intermediario{
    color: rgb(175, 175, 37);
    font-weight: 700;

}

.avançado{
    color: darkblue;
    font-weight: 900;
}


