* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-background: #0e0e0e;
    --color-logo: #ff5b50;
    --card-color: #252525;
    --text-color: #fff;
    --subtitle-color: #5a5757;
    --black-text: #000;
    --color-input: #0D0D0D;
}

body {
    background-color: black;
    height: 100%;
    color: white;
}

header {
    /* background-color: red; */
    height: 120px;

    display: flex;
    align-items: center;
    padding: 0px 20%;
}

header nav {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    /* background-color: green; */
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

#button-nav {
    background-color: white;
    padding: 5px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#button-nav button {
    background: none;
    border: none;
    font-weight: 900;
}

#description {
    background-color: red;
    height: 400px;
    padding: 0px 20%;
    margin-top: 40px;

    display: flex;
    align-items: center;

    gap: 15px;
}

#description div:nth-child(1) {
    flex-basis: 35%;
}

#description div:nth-child(2) {
    flex: 1;
}

#description div:nth-child(2) h1 {
    font-size: 65px;
}

#img-art {
    flex-basis: 15%;
}

#img-art img {
    width: 100%;
}